@import "styles.css";
@import url("/css/styles.css");

@media all and (min-width: 1024px) and (max-width: 1280px) {

    /* Navigation Elements */

    .nav-list ol li:nth-child(1) {
        animation: TopTransitionIn 1s;
    }
    
    .nav-list ol li:nth-child(2) {
        animation: TopTransitionIn 1.5s;
    }
    
    .nav-list ol li:nth-child(3) {
        animation: TopTransitionIn 2s;
    }
    
    .nav-list ol li:nth-child(4) {
        animation: TopTransitionIn 2.5s;
    }
    
    .nav-list ol li:nth-child(5) {
        animation: TopTransitionIn 3s;
    }

    /* Blog Elements */
    
    .post-preview:nth-child(1),
    .post-preview:nth-child(2),
    .post-preview:nth-child(3) {
        display: inline-block;
    }
    
    .post-preview:nth-child(1),
    .post-preview:nth-child(4) {
        margin-left: 0;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

    /* Body Elements */

    .btn-mobile-only {
        display: inline-block;
    }

    section {
        margin: 0 2%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {

    body::-webkit-scrollbar-thumb {
        display: none;
    }

    body::-webkit-scrollbar-track {
        display: none;    
    }

    /* Body Elements */

    .header {
        position: relative;
        padding: 2em 2em;
    }

    #logo img {
        width: 2em;
    }

    main {
        margin-top: 0;
    }

    .btn-mobile-only {
        display: inline-block;
    }

    section {
        margin: 0 4%;
    }
        
    section h1 {
        font-size: 2em;
    }

    /* Blog Elements */

    .blog-posts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
    }

    .post-preview {
        width: 49%;
    }
}

@media all and (max-width: 480px) {

    body::-webkit-scrollbar-thumb {
        display: none;
    }

    body::-webkit-scrollbar-track {
        display: none;    
    }

    /* Navigation Elements */

    .nav-list {
        display: none;
    }

    /* Blog Elements */
    
    .blog-posts-container {
        display: block;
    }

    .post-preview {
        display: block;
        margin: 0 auto;
        margin-bottom: 1.5em;
    }

    .window {
        width: 300px;
        height: 500px;
    }

    /* Body Elements*/

    .header {
        position: relative;
        padding: 2em 2em;
    }

    #logo img {
        width: 2em;
    }

    main {
        margin-top: 0;
    }

    .btn-mobile-only {
        display: inline-block;
    }

    section {
        margin: 0 2em;
    }

    .introh1 {
        font-size: 2.5em;
    }

}

/* Portrait */

@media screen and (orientation:portrait) {

}

/* Landscape */
@media screen and (orientation:landscape) {
    
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {

} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

}